<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shaikh Mubashir - DevOps Engineer</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            padding: 40px;
        }
        .card {
            background: white;
            padding: 30px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            max-width: 600px;
        }
        h1 { color: #2e8b57; }
    </style>
</head>
<body>
    <div class="card">
        <h1>Shaikh Mubashir</h1>
        <h3>DevOps Engineer | AWS | Linux | Jenkins | Docker | Kubernetes</h3>
        <p><strong>Email:</strong> mubashir@example.com</p>
        <p><strong>Location:</strong> Hyderabad, Telangana</p>
        <p><strong>GitHub:</strong> <a href="https://github.com/Mubashir970" target="_blank">github.com/Mubashir970</a></p>
        <p><strong>About Me:</strong> I’m a passionate DevOps engineer building scalable CI/CD pipelines and automating cloud infrastructure with AWS and Linux.</p>
    </div>
</body>
</html>
